.simply-recipes-team{
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 0px 40px;
  box-sizing: border-box;
  background-origin: padding-box;
}

@media (max-width: 500px){
  .team-paragraph,
  .profile-grid{
    flex: 0 0 100%;
    height: auto;
  }
}

.simply-block{
  box-sizing: border-box;
  display: flex;
  padding: 40px;
}

.team-paragraph{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  margin-left: auto;
}

h4{
  display: block;
  font-size: 48px;
  text-align: left;
  font-weight: 400;
  line-height: 50.688px;
  margin-block-end: 20px;
  margin-bottom: 20px;
  width: 450px;

}

.recipes-paragraph{
  display: inline-block;
  font-size: 18px;
  max-width: 450px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 40px;
}

.read-button{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  font-weight: bold;
  background-color: rgb(247, 220, 224);
  cursor: pointer;
  border: none;
}

.read-button:hover{
  background-color: rgb(242, 182, 191);
}

.profile-grid{
  background-color: rgb(246, 231, 234);
  display: grid;
  grid-template-columns: 135px 135px 135px 135px 135px;
  column-gap: 25px;
  height: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-right: auto;
}

.profile-block{
  display: grid;
  grid-template-rows: 125px 90px;
  row-gap: px;
  height: 100%;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.profile-info{
  cursor: pointer;
}

.profile-info:hover{
  text-decoration: underline;
  color: lightseagreen;
}

.pfp{
  border-radius: 100%;
  height: 135px;
}

.name{
  font-size: 13px;
  font-weight: bold;
  color: darkgreen;
}

.name:hover{
  text-decoration: underline;
  color: darkgreen;
}

.office{
  font-size: 13px;
  font-weight: bold;
  color: lightseagreen;
}

.office:hover{
  text-decoration: underline;
  color: lightseagreen;
}